<form action="/tasks" method="post">
  <p>Enter a new task:</p>
  <input type='text' name='task[title]'/><br/>
  <textarea name='task[description]'></textarea><br/>
  <input type='submit'/>
</form>

<h4><a href="/">Return to Bret's Task Manager</h4>


<!-- Here we have a form with an action (url path) of /tasks and a method post -->