

<div class='container'>
  <div class='row well'>
    <h1><%= @task.title %></h1>
    <p><%= @task.description %></p>
  </div>
</div>

<div class='container'>
  <div class='row well'>
    <a href="/tasks">Return to Task Index</a>
  </div>
</div>